.highlight
    margin: 0px
    display: block
    overflow-x: auto
    font-size: font-size
    font-family: font-mono
    word-wrap: normal
    border-radius: 10px
    line-height: font-size * line-height
    table
        margin: 0
        width: auto
        td
            border: none
        td.code
            padding-right: 15px
    .gutter
        pre
            color: #666
            text-align: right
            padding-right: 15px
            padding-left :10px;

.article-entry
    .highlight
        margin: 0.5em 0
        .line
            height: 1.1em

@import "_highlight/" + highlight